<% title "Two Factor Authentication Settings" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2" style="margin-bottom: 40px;">
    <h3><%= I18n.t('title', :scope => 'devise.otp.otp_tokens') %></h3>
    <p><%= I18n.t('explain', :scope => 'devise.otp.otp_tokens') %></p>

    <%= render :partial => 'token_secret' %>
  </div>
</div>
