- title "Inspirations on Dabble Me"

.row
  .col-md-12
    %p
      =link_to "Add new inspiration", new_inspiration_path, class: "btn btn-info"

.row
  .col-md-1
    %h4 Actions
  .col-md-1
    %h4 Entries
  .col-md-2
    %h4 Category
  .col-md-8
    %h4 Inspiration

-@inspirations.each do |i|
  - add_class = ""
  - if notice && @last_updated.id == i.id
    - add_class = "s-highlight"
  .row.s-inspiration-admin{class: "#{add_class}"}
    .col-md-1
      =link_to edit_inspiration_path(i), :class=>"noline", title: "Edit Inspiration" do
        %i.fa.fa-pencil
      &nbsp;
      - if i.category == "OhLife"
        %i.fa.fa-lock{title: "Required by system"}
      - else
        = link_to inspiration_path(i), title: "Delete Inspiration", class: "s-delete", method: :delete, data: { confirm: 'Are you sure you want to delete this inspiration? There is no undo.' } do
          %i.fa.fa-trash
    .col-md-1
      =number_with_delimiter(i.entries.count)
    .col-md-2
      =i.category
    .col-md-8
      =i.body.html_safe