- title 'Edit email settings on Dabble Me'

.row
  .col-md-8.col-md-offset-2
    %h3 Email Settings for #{@user.full_name_or_email}
    %br

  = render partial: 'user_settings', locals: { form_path: unsubscribe_path(@user.user_key) }