%p Hey #{@user.first_name_or_fallback},

%p
  You can copy and paste the code below into the login screen:
  %br
  #{@user.paranoid_verification_code}

%p
  \ --
  %br
  If you didn’t try to login to dabble.me, you should make sure you have Two-Factor Authentication enabled on your email account so that no one besides you can complete login attempts on your behalf.
