%p Hey #{@user.first_name_or_fallback},

%p
  Your Dabble Me account at #{@user.email} has been downgraded to Free since your subscription has ended. With this downgrade, your email frequency has been changed to at max once per week.

%p
  You can upgrade again if you'd like to continue receiving all of the features of PRO at
  =link_to(subscribe_url, subscribe_url)+"."

%p
  Upgrade to PRO to have access to:
  %ul
    %li
      =link_to "Change the frequency", "https://#{ENV['MAIN_DOMAIN']}/settings/#{@user.user_key}"
      of your emails
    %li Add/edit entries via the web
    %li Attach photos to your entries
    %li Rich text formatting through the web interface
    %li
      =link_to "Calendar View", entries_calendar_url
      of your past entries to know you've written every day
    %li
      =link_to "Search", search_url
      all of your past entries with support for hashtags
%p
  %br
  Thanks,
  %br
  =link_to "Paul Arterburn","https://paularterburn.com/"
  %br
  Creator of Dabble Me
