Hey #{@user.first_name_or_fallback},
\ 
\ 
Thanks for donating to Dabble Me. The premium features have now been unlocked for your account at #{@user.email}.
\ 
You'll now have access to:
  * Attach photos to your entries
  * Rich text formatting through the web interface
  * Search all of your past entries with support for hashtags
\ 
\ 
Thanks,
Paul Arterburn
Creator of Dabble Me
Follow me on Twitter: @parterburn