Welcome to Dabble Me - the simple journal that you'll actually use! Since you're new here, we're going to make it easy for you to write your first journal entry.
\ 
Simply reply to this email with an answer this question: What's going on in your life right now?
\ 
That's it. Your reply will instantly be saved to your Dabble Me account at https://dabble.me/entries
\ 
Just reply to this email with your entry, and it's instantly saved in your Dabble Me account. That's it!
\ 
\----------------------------
\ 
You can always email post+#{@user.user_key}@dabble.me to post new entries (hint: add this to your contacts).
\ 
For reference, your username is: #{@user.email}