<p>Hello <%= @user.full_name_or_email %>!</p>

<p>Your username is: <%= @user.email %></p>

<p>Your account has been created at Dabble Me (the open-source OhLife replacement) and now it's time to start writing!</p>

<p>Follow this link to write and see your entries: <%= link_to 'https://dabble.me/entries', 'https://dabble.me/entries' %></p>