<p>Welcome to <a href="https://dabble.me"><b>Dabble Me</b></a> - the journal that works by email! Since you're new here, we're going to make it super easy for you to write your first journal entry.</p>

<p>For your first entry, write a quick answer to this question:<br><i>What's going on in your life right now?</i></p>

<p>There's no wrong way to answer this question, so just spend a minute and write the first thing that pops into your head. So long as you write something, you did an awesome job.</p>

<p>Just reply to this email with your entry, and it's instantly saved in your Dabble Me account. That's it!</p>

<p>For reference, your username is: <%= @user.email %></p>