%p
  Welcome to
  =link_to "Dabble Me", "https://dabble.me"
  \- the simple journal that you'll actually use! Since you're new here, we're going to make it easy for you to write your first entry.
%p
  %b How's your day going?
  Just reply to this email with your answer, and it's instantly saved in your Dabble Me account.
%p
  Helpful tips:
  %ol
    %li It's okay to keep it simple! Even one sentence about how your day is going is just fine.
    %li Only you can read what you write. That means there's no wrong way to do this.
    %li So long as you write something, you did a great job.
%hr{:style=>"margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 2px solid whiteSmoke;"}
%p
  You can always email post+#{@user.user_key}@dabble.me to post new entries&nbsp;
  %i> (hint: add this to your contacts)
  \.
%P
  For reference, your username is: #{@user.email}