- if current_user.is_free?
  .alert.alert-warning.hidden-xs
    =link_to subscribe_path, class: "float-left" do
      %button.btn.btn-warning Subscribe Now
    %strong Dabble Me PRO
    for $4/mo unlocks changing frequency of emails, adding/editing entries via the web, attaching photos to entries, search, and more.
  .clearfix
