- title "All Entries"

.row

  - if @entries.count > 0
    .col-md-8.col-md-offset-2
      %h1 
        =pluralize(current_user.entries.count,"total entry")
      
  - else
    .col-md-8.col-md-offset-2
      %br
      =link_to "Write your first entry", new_entry_path, :class => "btn btn-primary form-control"
      %br
      %br

  - @entries.each do |entry|
    .col-md-8.col-md-offset-2
      %hr

    - if entry.image_url
      .col-md-8.col-md-offset-2.s-show-url
        .row
          %br
          =image_tag entry.image_url, :class => "col-xs-12"
        %br
      .clearfix

    .col-md-8.col-md-offset-2
      %h4
        = entry.date.strftime("%B %-d, %Y")
        = link_to edit_entry_path(entry) do
          %i.fa.fa-pencil-square-o
      %br
    .col-md-8.col-md-offset-2
      = entry.body.html_safe
      %br
      %br