- title "Spotify Songs"

- if current_user.is_free?
  .alert.alert-warning
    =link_to "Subscribe to PRO", subscribe_path, class: "alert-link"
    to unlock the ability to see a play all of the Spotify songs from your entries.

.row
  .col-md-8.col-md-offset-2.well.s-faqs
    %h2.center Songs from Entries
    %p.center
      %br
      Add links from Spotify to specific songs and you'll be able to play them here.
    %hr
    = @spotify_embed