- @entries.each do |entry|
  - if params[:only_images] == "true"
    =entry.image_url_cdn
  - else
    =entry.date.strftime("%Y-%m-%d")
    \
    = ActionController::Base.helpers.strip_tags(entry.sanitized_body)
    \
