
body {
  background-color:#F2F2F2;
  font-family: 'Roboto', "OpenSans", "Verdana", Georgia, Serif;
  text-align:center;
}

#msg {
  font-weight:nromal;
  font-size: 90%;
  margin-left: 200px;
  color: #fff;
  display:none;
  transition:opacity 0 2s;
  -webkit-transition:opacity 0 2s; /* Safari */
}

#video_image {
  margin:0px auto;
  display:none;
  width: 900px;
  height: 350px;
}

#video_image_overlay {
  width: 900px;
  height: 350px;
  margin:0px auto;
  background: linear-gradient(
     to top,
     rgba(0, 0, 0, 0.9),
     rgba(0, 0, 0, 0) 72%,
     rgba(0, 0, 0, 0) 100%
  );
  z-index:0;
  position:absolute;
  display:none;
}

#video_element {
  margin:0px auto;
  display:block;
  width: 900px;
  height: 350px;
  background-color:#000;
}

#media_control {
  margin:0px auto;
  width:900px;
  height:60px;
  background-color:#000;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

#play {
  cursor:pointer;
  margin: 10px 20px 10px 10px;
  float:left;
  width: 65px;
  height: 40px;
  background-image:url('../imagefiles/play.png');
}

#play:hover {
  background-image:url('../imagefiles/play-hover.png');
}

#play:press {
  background-image:url('../imagefiles/play-press.png');
}

#pause {
  cursor:pointer;
  display:none;
  margin: 10px 20px 10px 10px;
  float:left;
  width: 65px;
  height: 40px;
  background-image:url('../imagefiles/pause.png');
}

#pause:hover {
  background-image:url('../imagefiles/pause-hover.png');
}

.button {
  cursor:pointer;
  margin: 5px;
  font-size: 100%;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

.volume {
  cursor:pointer;
  width:60px;
  margin-left:8px;
}

#muteText {
  cursor:pointer;
  width:30px;
  margin-left:3px;
}

.muteButton {
  cursor:pointer;
  font-size: 110%;
  font-family: 'Roboto', "Open Sans", "Verdana", Georgia, Serif;
}

.imageIcon {
  padding:3px 0px 0px 0px;
  width:25px;
}

#progress {
  cursor: pointer;
  margin: 20px 0px 10px -620px;
  float:left;
  width: 1px;
  height: 36px;
  z-index: 10;
  background-image:url('../imagefiles/timeline_bg_progress.png');
  background-repeat:repeat-x;
}

#progress_indicator {
  margin: 20px 0px 10px -620px;
  float:left;
  draggable: true;
  width: 6px;
  height: 36px;
  z-index: 1000;
  background-image:url('../imagefiles/timeline_indicator.png');
  background-repeat:repeat-x;
}

#progress_bg {
  cursor: pointer;
  margin: 20px 20px 10px 0px;
  float:left;
  width: 600px;
  height: 36px;
  background-image:url('../imagefiles/timeline_bg_track.png');
  background-repeat:repeat-x;
}

#casticonactive {
  cursor:pointer;
  float:right;
  margin:10px 17px 14px 0px;
  width: 32px;
  height: 32px;
  display:none; 
  background-image:url('../imagefiles/ic_media_route_on_custom.png');
}

#casticonidle {
  cursor:pointer;
  float:right;
  width: 32px;
  height: 32px;
  margin:10px 17px 14px 0px;
  display:block; 
  background-image:url('../imagefiles/ic_media_route_off_custom.png');
}

#audio_off {
  cursor:pointer;
  float:right;
  margin:10px 10px 10px 0px;
  width: 32px;
  height: 32px;
  display:none; 
  background-image:url('../imagefiles/audio_off.png');
}

#audio_on {
  float:right;
  cursor:pointer;
  width: 32px;
  height: 32px;
  margin:10px 10px 10px 0px;
  display:block; 
  background-image:url('../imagefiles/audio_on.png');
}

#audio_bg {
  float:right;
  opacity: 0.1;
  width: 41px;
  height: 124px;
  margin:-115px 8px -10px 0px;
  display:block; 
  background-image:url('../imagefiles/audio_bg.png');
  position:relative;
  z-index:3001;
}

#audio_bg_track {
  cursor: pointer;
  float:right;
  opacity: 0.0;
  width: 16px;
  height: 100px;
  margin:-100px 20px -30px 0px;
  display:block; 
  background-image:url('../imagefiles/audio_bg_track.png');
  position:relative;
  z-index:3002;
}

#audio_indicator {
  float:right;
  opacity: 0.0;
  width: 16px;
  height: 5px;
  margin:-50px 20px -30px 0px;
  display:none; 
  background-image:url('../imagefiles/audio_indicator.png');
  position:relative;
  z-index:3003;
}

#audio_bg_level {
  cursor: pointer;
  float:right;
  opacity: 0.0;
  width: 16px;
  height: 50px;
  margin:-50px 20px -30px 0px;
  display:block; 
  background-image:url('../imagefiles/audio_bg_level.png');
  position:relative;
  z-index:3004;
}

#fullscreen_expand {
  cursor:pointer;
  float:right;
  width: 32px;
  height: 32px;
  margin:10px 20px 10px 0px;
  display:block; 
  background-image:url('../imagefiles/fullscreen_expand.png');
}

#fullscreen_collapse {
  cursor:pointer;
  float:right;
  width: 32px;
  height: 32px;
  margin:10px 20px 10px 0px;
  display:none; 
  background-image:url('../imagefiles/fullscreen_collapse.png');
}

#duration {
  float:right;
  color: #fff;
  width: 60px;
  height: 32px;
  margin:20px 15px 10px 15px;
  display:block; 
}

div.imageSub { position: relative; }
div.imageSub img { z-index: 1; }
div.imageSub div {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0px;
  padding: 0px;
}
div.imageSub div.blackbg {
  z-index: 2000;
  bottom: 60px;
  text-align:center;
  width: 880px;
  margin: 0 auto;
  height: 30px;
  color: #000;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  font-size:120%;
  display:none;
  padding:10px;
}
div.imageSub div.label {
  z-index: 3000;
  bottom: 60px;
  text-align:center;
  width: 880px;
  margin: 0 auto;
  height: 30px;
  color: white;
  font-size:120%;
  display:none;
  padding:10px;
}

.vertical {
    -webkit-transform: rotate(90deg);

}

.bookmarklet, #example {
  text-align:center;
  margin:0 auto;
  color:#777;
}

.bookmarklet a, .bookmarklet a:visited, #example a, #example a:visited {
 text-decoration: none;
 color:#77a5d0;
}

.bookmarklet a:hover, .bookmarklet a:active, #example a:hover, #example a:active {
 text-decoration: underline;
  color:#3b74a6;
}

.header h1 {
  font-size:24px;
  font-weight:400;
  color:#333;
  margin:2% 0px 20px 0px;
  padding:0px;
}

.share {
  margin:0px 0px 10px 0px;
}

.header h1 a, .header h1 a:visited {
  text-decoration: none;
  color:#333;
}

.header h1 a:active, .header h1 a:hover {
  text-decoration: underline;
  color:#333;
}

.footer {
  float:none;
  text-align:center;
  margin:0 auto;
  color:#AAA;
  margin-top:20px;
  bottom:20px;
  width:100%;
}

.prereqs {
  font-size:12px;
  margin-top:8px;
  color:#AAA;
}

.prereqs a, .prereqs a:visited {
  text-decoration: none;
  color:#AAA;
}

.loaded {
  display:block;
  width:880px;
  margin-top:-5px;
}

.vid_link {
  display:block;
  font-size:10px;
  height:15px;
  width:880px;
  overflow:hidden;
  text-overflow: ellipsis;
}

.vid_link a, .vid_link a:visited {
  text-decoration: none;
  color:#CCC;
}

#referrer-container {
  display:none;
  margin-top:10px;
  position:fixed;
  left:10px;
  top:-4px;
}

.bookmarklet img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bookmarklet img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  filter: grayscale(0%);
}

#the_bookmarklet {
  padding: 2px 8px;
  border: 2px solid;
  border-radius: 5px;
  text-decoration: none !important;  
}