.background {
  background-color:#252c2f;
}

.logo {
  background-image: url(https://dabble.me/cast/imagefiles/dabble_loading.png);
  background-size: 750px 235px;
  background-repeat:no-repeat;
}

.progressBar {
  background-color: #eff056;
}