-#GENERATED FROM http://realfavicongenerator.net/
%link{href: "/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"}
%link{href: "/android-chrome-192x192", rel: "android-chrome-icon", sizes: "192x192"}
%link{href: "/android-chrome-512x512.png", rel: "android-chrome", sizes: "512x512"}
%link{href: "/favicon-96x96.png", rel: "icon", type: "image/png", sizes: "96x96"}
%link{href: "/favicon.svg", rel: "icon", type: "image/svg+xml"}
%link{href: "/favicon.ico", rel: "shortcut icon"}
%link{href: "/site.webmanifest", rel: "manifest"}
%link{href: "/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
%link{href: "/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
%meta{content: "Dabble me.", name: "apple-mobile-web-app-title"}
%meta{content: "Dabble me.", name: "application-name"}
%meta{content: "The simple, private journal that helps you actually write. Just reply to a daily email to capture thoughts and rediscover memories with Blasts from the Past. Start for free.", property: "description"}
%meta{content: "dabble me,journal,diary,journaling,online diary,baby journal", property: "keywords"}
%link{href: "Dabble Me", rel: "author"}
%meta{content: "summary_large_image", name: "twitter:card"}
%meta{content: "@parterburn", name: "twitter:site"}
%meta{content: "Dabble me. Private email journaling & daily reflection.", name: "twitter:title"}
%meta{content: "The simple, private journal that helps you actually write. Just reply to a daily email to capture thoughts and rediscover memories with Blasts from the Past. Start for free.", name: "twitter:description"}
%meta{content: "https://dabble.me/dabble_logo_ogimage.png", name: "twitter:image:src"}
%meta{content: "dabble.me", name: "twitter:domain"}
%meta{content: "Dabble me. Private email journaling & daily reflection.", property: "og:title"}
%meta{content: "The simple, private journal that helps you actually write. Just reply to a daily email to capture thoughts and rediscover memories with Blasts from the Past. Start for free.", property: "og:description"}
%meta{content: "http://dabble.me/dabble_logo_ogimage.png", property: "og:image"}
%meta{content: "https://dabble.me/dabble_logo_ogimage.png", property: "og:image:secure_url"}
%meta{content: "Dabble me.", property: "og:site_name"}
%meta{content: "website", property: "og:type"}
%meta{content: "https://dabble.me", property: "og:url"}
%meta{content: "https://dabble.me", property: "og:site_url"}
