%footer.footer
  .container
    %hr
    %p.muted.float-left
      =link_to "Contact & FAQs", faqs_path, title: "Contact & FAQs"
      &nbsp;&middot;&nbsp;
      = link_to "Privacy", privacy_path, title: "Privacy Policy"      
      -if current_user && current_user.is_free?
        &nbsp;&middot;&nbsp;
        =link_to "Subscribe to PRO", subscribe_path, title: "Subscribe Now"

    %p.muted.float-right
      &nbsp;&nbsp;
      = link_to 'http://twitter.com/parterburn', title: "Built by Paul Arterburn" do
        %i.fa.fa-code
        with
        %i.fa.fa-heart
        by
        %strong Paul Arterburn
    .fb-like.float-right{data: { action: "like", href: "https://dabble.me", layout: "button", share: "false", show: { faces: "false" } } }
.j-back-to-top.s-back-to-top
  =link_to "#" do
    %span.fa-stack.fa-sm
      %i.fa.fa-square.fa-stack-2x
      %i.fa.fa-arrow-up.fa-stack-1x.fa-inverse

#fb-root
:javascript
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1400750926850081&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));