%footer.footer
  .container
    %hr
    %p.muted.float-left
      =link_to "CONTACT & FAQS", faqs_path, title: "Contact & FAQs"
      &nbsp;&middot;&nbsp;
      = link_to "PRIVACY", privacy_path, title: "Privacy Policy"
      &nbsp;&middot;&nbsp;
      = link_to "TERMS", terms_path, title: "Terms of Service"
      -if current_user && current_user.is_free?
        &nbsp;&middot;&nbsp;
        =link_to "SUBSCRIBE TO PRO", subscribe_path, title: "Subscribe Now"

    %p.muted.float-right
      &nbsp;&nbsp;
      = link_to 'https://paularterburn.com/', title: "Made by Paul Arterburn" do
        © #{Time.now.year} Dabble Dev LLC
.j-back-to-top.s-back-to-top
  =link_to "#" do
    %span.fa-stack.fa-sm
      %i.fa.fa-square.fa-stack-2x
      %i.fa.fa-arrow-up.fa-stack-1x.fa-inverse