%footer.footer
  .container
    %hr
    %p.muted.float-left
      =link_to "Contact & FAQs", faqs_path, title: "Contact & FAQs"
      &nbsp;&middot;&nbsp;
      = link_to "Privacy", privacy_path, title: "Privacy Policy"      
      &nbsp;&middot;&nbsp;
      -if current_user && current_user.donations.sum(:amount) > 0
        =link_to "Thanks for donating!", donate_path, title: "Donate Now"
      -else
        =link_to "Donate", donate_path, title: "Donate Now"

    .fb-like.float-right{data: { action: "like", href: "https://dabble.me", layout: "button", share: "false", show: { faces: "false" } } }
    %p.muted.float-right
      = link_to 'http://twitter.com/parterburn', title: "Built by Paul Arterburn" do
        %i.fa.fa-code
        with
        %i.fa.fa-heart
        by
        %strong Paul Arterburn
      &nbsp;&nbsp;

.j-back-to-top.s-back-to-top
  =link_to "#" do
    %span.fa-stack.fa-sm
      %i.fa.fa-square.fa-stack-2x
      %i.fa.fa-arrow-up.fa-stack-1x.fa-inverse