%footer.footer
  .container.center
    %hr
    %p
      =link_to "Powered by donations","https://gratipay.com/parterburn/",:target=>"_blank"
    %p.muted
      = link_to 'http://twitter.com/parterburn' do
        %span.fa.fa-twitter
        Built by @parterburn
      &nbsp;&middot;&nbsp;
      = mail_to "pleasereply@dabble.me", :encode => "hex" do
        %span.fa.fa-envelope-o
        Contact
      &nbsp;&middot;&nbsp;
      = link_to 'http://github.com/parterburn/dabble.me' do
        %span.fa.fa-github
        View code on GitHub