%footer.footer


%footer.footer
  .container.center
    %hr
    %p.s-inspiration
      =random_inspiration
    %p.muted
      Built by
      = link_to 'http://twitter.com/parterburn' do
        %span.fa.fa-twitter
        Parterburn
      &nbsp;&middot;&nbsp;
      = mail_to "paularterburn+dabble@gmail.com", :encode => "hex" do
        %span.fa.fa-envelope
        Contact & FAQ's