%footer
  %br
  %br
  %br  
  .container
    %hr
    %p
      = link_to 'http://twitter.com/parterburn' do
        %span.fa.fa-twitter
        parterburn
      &nbsp;&nbsp;
      = link_to 'http://github.com/parterburn' do
        %span.fa.fa-github
        parterburn
