.center.s-landing-page
  %h1{title: "Dabble Me"}
    =image_tag("dabble_me_pencil_400.png", alt: "Dabble Me Logo")
  %h2 Your private journal.
  %br
  .col-md-6.col-md-offset-3
    %p
      What were you doing last month? How about last week?
      %br
      Dabble Me helps you remember what's happened in your life.
    %br

.clearfix
.center
  = link_to "Sign Up", new_user_registration_path, :class => 'btn btn-info btn-lg col-md-4 col-md-offset-4'
  .clearfix
%br
.clearfix

.center
  %h4
    %p
      Read about Dabble Me in...
    %p
      =link_to "INCREASE YOUR HAPPINESS WITH DAILY JOURNALING", "https://medium.com/startup-lesson-learned/increase-your-happiness-with-daily-journaling-8109b0700506", target: "_blank"

.col-md-6.col-lg-4.col-lg-offset-2.s-features.top40
  %ul
    %li
      %i.fa.fa-check
      Always private. Never social.
    %li
      %i.fa.fa-check
      Reminders emailed on your schedule
    %li
      %i.fa.fa-checkf
      Reply-to-post entries
    %li
      %i.fa.fa-check
      Search entries

.col-md-6.col-lg-5.s-features.top40
  %ul
    %li
      %i.fa.fa-check
      Blasts from the past in your inbox
    %li
      %i.fa.fa-check
      Attach an image to save it with the entry
    %li
      %i.fa.fa-check
      Tag your entries with hashtags
    %li
      %i.fa.fa-check
      =link_to "Plus more Dabble Me PRO", subscribe_path
    
.clearfix
%br
%br

