- title "Dabble Me — Features"

.row
  .col-md-8.col-md-offset-2.s-faqs
    .s-entry-date
      %h2.center Features
      %hr
      %p
        %strong Dabble Me was built in a way to help you actually keep a journal.
      %p It sends you an email every day asking how your day went. Hit reply and start typing anything. You can also include a photo that will remind you of your day. When you're done, hit send, and your entry will be saved instantly.
      %p With every reminder email, we'll include one of your previous entries chosen at random. You might get one from yesterday, last week, or last year.
      %h3
        %span{style: "background-color: #fcfbf9"} PRO FEATURES
    .s-features
      %ul
        %li
          %i.fa.fa-check.s-good
          Change the frequency & days that emails are sent
        %li
          %i.fa.fa-check.s-good
          Attach a photo to your entry (email or web)
        %li
          %i.fa.fa-check.s-good
          Add new entries via the web
        %li
          %i.fa.fa-check.s-good
          Edit entries
        %li
          %i.fa.fa-check.s-good
          Rich text formatting
        %li
          %i.fa.fa-check.s-good
          Calendar view of all your entries          
        %li
          %i.fa.fa-check.s-good
          Search all of your past entries with support for hashtags
        %li
          %i.fa.fa-check.s-good
          Year in Review
        %li
          %i.fa.fa-check.s-good
          Import from other serivces          

    .s-entry-date
      %h3
        %span{style: "background-color: #fcfbf9"} FREE LIMITATIONS

    .s-features
      %ul
        %li
          %i.fa.fa-times.s-bad
          Email prompts sent every other Sunday
        %li
          %i.fa.fa-times.s-bad
          No ability to edit or delete entries
        %li
          %i.fa.fa-times.s-bad
          No access to search or calendar
        %li
          %i.fa.fa-times.s-bad
          Simple text entry (i.e. no bold, italics, or lists)
            