- title "Dabble Me - the free & open source alternative to OhLife"

-if current_user

  - if @last_entry.present?
    .row
      .col-md-8.col-md-offset-2
        %br
        %h4
          -if current_user.first_name.present?
            Welcome back, #{current_user.first_name}! Here's your latest entry...
          -else
            Welcome back! Here's your latest entry...
        %br
      .col-md-8.col-md-offset-2.well
        = render :partial => 'entries/entry', :locals => {:entry => @last_entry}
  - else
    .col-md-8.col-md-offset-2
      %br
      %br
      .center
        %p
          %h4 You're all signed up, but don't have any entries!
        %p
          %h4 Check your email - simply reply to that email and you'll see it here.
        %br
        %br
        =link_to "Write your first entry", new_entry_path, :class => "btn btn-primary btn-lg"
        =link_to "Import from OhLife", import_ohlife_path, :class => "btn btn-primary btn-lg"

-else
  .center.s-landing-page
    %h1 Welcome to Dabble Me
    %h2.muted The free & open source replacement to OhLife
    %br
    .col-md-6.col-md-offset-3
      %p.muted
        What were you doing last month? How about last week?
        %br
        Dabble Me helps you remember what's happened in your life.
      %br

  .clearfix
  .center
    = link_to "Get Started (it's free)", new_user_registration_path, :class => 'btn btn-info btn-lg col-md-4 col-md-offset-4'
    .clearfix
  %br
  .clearfix

  .col-md-6.col-lg-4.col-lg-offset-2.s-features
    %ul
      %li
        %i.fa.fa-check
        Always private. Never social.
      %li
        %i.fa.fa-check
        Reminders emailed on your schedule
      %li
        %i.fa.fa-check
        Reply-to-post entries

  .col-md-6.col-lg-5.s-features
    %ul
      %li
        %i.fa.fa-check
        Blasts from the past in your inbox
      %li
        %i.fa.fa-check
        Attach an image to save it with the entry
      %li
        %i.fa.fa-check
        =link_to "Pay what you can",donate_path
  
  .clearfix
  .col-md-6.col-md-offset-3.s-features
    .center.s-more-info
      =link_to "http://www.ilovefreesoftware.com/06/webware/open-source-free-online-journal-alternative-ohlife-dabble.html", title:"Open Source Free Online Journal Alternative To OhLife: Dabble Me", rel: "nofollow", target: "_blank" do
        =image_tag "ilovefreesoftware_reviewed_5Star.png", border: 0, width:130, height:81



  .row
    #mc_embed_signup.col-md-4.col-md-offset-4
      %form#mc-embedded-subscribe-form.validate{:action => "//sixteenseven.us2.list-manage.com/subscribe/post?u=63fff2dd7620976b42e437195&id=762e28b552", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
        #mc_embed_signup_scroll{:style=>"width: 280px;margin: 0 auto;"}
          .mc-field-group{:style=>"margin-bottom:-10px"}
            %input#mce-EMAIL.required.email.form-control{:name => "EMAIL", :type => "email", :value => "#{current_user.email if current_user}", :placeholder=>"email@domain.com"}
            %br
          #mce-responses.clear
            #mce-error-response.response{:style => "display:none"}
            #mce-success-response.response{:style => "display:none"}
          %div{:style => "position: absolute; left: -5000px;"}
            %input{:name => "b_63fff2dd7620976b42e437195_762e28b552", :tabindex => "-1", :type => "text", :value => ""}
          .clear
            %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe to updates", :class => "btn btn-link form-control"}
