- title t('dabbleme')

%h1 Welcome to Dabble Me

%h4 The open-source replacement for OhLife

-if user_signed_in?

  %h3 User Details for #{current_user.full_name_or_email}

  %strong Frequency:
  #{pluralize(current_user.frequency.count, "day")}
  =current_user.frequency
  %br
  %strong Send Time:
  =current_user.send_time
  %br
  %strong Send Timezone:
  =current_user.send_timezone
  %br
  %strong Send Past Entry:
  =current_user.send_past_entry
  %br
  %strong Emails Sent:
  =current_user.emails_sent
  %br
  %strong Emails Received:
  =current_user.emails_received
  %br
  %strong Sign In Count:
  =current_user.sign_in_count

%hr

- %w(Sunday Monday Tueday Wednesday Thursday Friday Saturday).each do |day|
  %h4 #{User.where('frequency ~ ?', day[0..2]).count} #{day} Users

