- title "Dabble Me Privacy Policy"

.row
  .col-md-8.col-md-offset-2
    %br 
    %h3.center Dabble Me Privacy Policy
    %br

.row
  .col-md-8.col-md-offset-2
    %p
      We take your privacy very seriously. We believe in protecting your information the same way we want ours protected. This Privacy Policy outlines how we treat your information.
    
  .col-md-8.col-md-offset-2
    %h4 Private Journal
    %p 
      Your journal entries are private. The only way you can access them is by logging into your account, or by our nightly emails that are sent to your email address only.
    %p
      There's no way to share your entries. We don't have any integration with Twitter or Facebook, there's no way to make an entry public, and your entries are not searchable by Google. Dabble Me is strictly a private place for you to read and write about how your days went.
    
    %h4 Information Collected
    %p
      Dabble Me only collects information it needs so that you can use the service. Your information is never shared or sold to any third parties.
    
    %h4 Test Run
    %p
      If you're unhappy with the service for any reason, you can delete your account in your account settings. This permanently deletes your account and all of your entries.
    
    %h4 Privacy Policy Changes
    %p
      Though most changes will probably be minor, Dabble Me may make changes to its Privacy Policy. If so, the new Privacy Policy will be posted on this page.
    
    %h4 Questions?
    %p
      Please send us an email at&nbsp;
      %span>=mail_to "hello@#{ENV['MAIN_DOMAIN']}", "hello@#{ENV['MAIN_DOMAIN']}", :encode=>"hex"
      \. We're happy to help out and answer any of your questions.