- title "Subscribe to Dabble Me PRO"

.row
  %br
  - if params[:thank].present?
    .col-md-8.col-md-offset-2.alert.alert-success
      %h5
        %strong Thanks for subscribing via Paypal!
      %br
      Premium features may take up to 24 hours before becoming active, and you'll receive an email when they do.
  .col-md-8.col-md-offset-2
    %h4 
      %strong Dabble Me PRO is just $3 per month.
    %p
      %strong Subscribing will help keep the site up, and unlock premium features on your account:
      %ul
        %li Change the days that emails are sent
        %li Add new entries via the web
        %li Edit entries
        %li Attach a photo to your entry
        %li Rich text formatting
        %li Calendar view of all your entries (to make sure you've written every day)
        %li Search all of your past entries with support for hashtags

    %br
    %br
    .center
      - if user_signed_in?
        - if current_user.is_pro?
          .col-md-12.alert.alert-info{style: "text-align:center;"}
            Currently subscribed to: 
            %strong #{current_user.plan_details}
        .col-md-12.alert.alert-success{style: "text-align:center;"}
          %script{:src => "https://gumroad.com/js/gumroad.js", :type => "text/javascript"}
          %h4
            Subscribe now using any major credit card or&nbsp;
            %strong> Paypal
            \.
          %p{style: "margin-top:20px;"}
            %a.gumroad-button{:href => "https://gumroad.com/l/dabbleme?email=#{current_user.email}"} Subscribe Now & Activate PRO Features

        .clearfix

      - else
        - session["user_return_to"] = subscribe_path
        .col-md-12{style: "text-align:center;"}
          =link_to "Sign in to subscribe", new_user_session_path, class: "btn btn-primary"
        .clearfix
        %br