- title "Import OhLife to Dabble Me"

.row
  .col-md-8.col-md-offset-2.s-import
    %h3 Step 1: Import OhLife Entries
    %ol
      %li
        The OhLife exporter has been disabled, but if you already have your file you can use the importer below.
      %li
        Copy/paste the contents of the
        %strong export_2014-09-XX.txt
        text file in the textarea below:
  .clearfix

  = form_for :entry, url: import_ohlife_process_path, method: :put do |f|
    
    .col-md-8.col-md-offset-2
      = f.text_area :text, :class => "form-control", :rows => 10  
      %br

    .col-md-8.col-md-offset-2
      = f.submit "Import Entries", :class => "form-control btn btn-primary"
      %br
      %br
    .clearfix