Just reply to this email with your entry for #{Time.now.in_time_zone(@user.send_timezone).strftime("%B %-d")}.
\ 
- if @user.send_past_entry? && @random_entry
  Oh snap, remember this? #{@random_entry.time_ago_in_words_or_numbers} ago you wrote...
  \ 
  #{strip_tags(@random_entry.body)}
  \ 
Past entries: https://dabble.me/entries
\ 
Unsubscribe: https://dabble.me/users/edit