- title ("Page Not Found")
.row
  %br
  .col-md-8.col-md-offset-2.well.entry#entry-404
    .center
      .s-entry-date
        %h2 This page does not exist.
        %h3
          %span 404
    .pictureFrame
      %br
      =image_tag "broken_pencil.png", widht: 250, height: 250
      %br
      %br
    .clearfix

:javascript
  $("#entry-404").imagesLoaded()
    .done( function( instance ) {
      $(instance.elements).find('.pictureFrame img').css("background-image","none");
    });  