- Stripe.api_key = ENV['STRIPE_API_KEY']
- if current_user.stripe_id.present? && Stripe::Subscription.list(customer: current_user.stripe_id, status: 'active').data.any?
  :javascript
    function stripeCheckout(plan) {
      window.location.href = "#{billing_path}";
    }
- else
  :javascript
    var stripe = Stripe('#{ENV['STRIPE_PUBLISHABLE_KEY']}');

    function stripeCheckout(plan) {
      stripe.redirectToCheckout({
        lineItems: [{price: plan, quantity: 1}],
        mode: 'subscription',
        clientReferenceId: "#{current_user.id}",
        customerEmail: "#{current_user.email}",
        successUrl: 'https://dabble.me/',
        cancelUrl: 'https://dabble.me/'
      })
      .then(function (result) {
        if (result.error) {
          var displayError = document.getElementById('error-message');
          displayError.textContent = result.error.message;
        }
      });
    }
