.s-admin-container {
  .well {
    background-color: white;
    border-radius: 0px;
    border: 2px solid #f7f7f7;
    box-shadow: none;
    width:96%;
    margin-left:2%;
    padding:15px;
    margin-top:15px;
  }
  .s-toggle-all {
    float:right;
  }
}