/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= stub twbs-variables
 *= require twbs
 *= require summernote
 *= require_tree .
 */

body { padding-top: 70px; }

#error_explanation h2 {
  font-size: 18px;
  margin: 10px;
}

.center {
  text-align:center;
  margin:0 auto;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main-container {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 

.s-inspiration {
  font-style: italic;
  color:#AAA;
  margin-bottom:20px;
}

.muted {
  color:#777;
}

.muted a {
  color:#777;
}

.muted a:hover {
  color:#333;
  text-decoration: none;
}