/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= stub twbs-variables
 *= require twbs
 *= require_self
 *= require_tree ./lib
 *= require_tree .
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);
@import url(https://fonts.googleapis.com/css?family=Instrument+Sans:400,700,200);
@import url(https://fonts.googleapis.com/css?family=Instrument+Serif:400,700,200);
@import 'vars';
@import "summernote";
@import "contribution_graph";

html, body {
  height: 100%;
}

body {
  background: $cream;
  padding-top: 70px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

hr {
  border-top: 2px solid whiteSmoke;
}

.well {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(224, 224, 224, 0.6);
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  pointer-events: none;
}

.really-blur {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  pointer-events: none;
}

#error_explanation h2 {
  font-size: 18px;
  margin: 10px;
}

.center {
  text-align:center;
  margin:0 auto;
}

#wrap {
  min-height: 100%;
}

#main-container {
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:0px;
  p {
    font-size: 0.9em;
  }
  @media screen and (max-width: 767px) {
    text-align:center;
    p {
      float:none !important;
      width:100%;
      text-align:center;
    }
  }
  .flex {
    display: flex; width: 100%;column-gap: 10px;
    @media screen and (max-width: 767px) {
      display: block;
      column-gap: 0px;
    }
  }
}

.s-inspiration {
  font-style: italic;
  color: #AAAAAA;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 0px;
  a {
    color: #AAAAAA !important;
    text-decoration: underline !important;
    &:hover {
      color: #333333 !important;
    }
  }
}

.muted {
  color: $mid-gray;
  a {
    color: $mid-gray;
    &:hover {
      color: #333333;
      text-decoration: none;
    }
  }
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}

.s-back-to-top {
  position:fixed;
  right:25px;
  bottom:15px;
  display:none;
  a {
    color: $light-gray;
    text-decoration: none;
    &:hover {
      color: $mid-gray;
      text-decoration: none;
    }
  }
}

p {
  font-size: 15px;
  color:#444444;
}

.flash.alert:empty {
  display: none;
}

label {
  color: #444444;
}

.popover-title {
  background-color:whiteSmoke;
  padding:10px 14px 0px 14px;
  color:$mid-gray;
  border:0px;
}

.popover, .popover-content {
  background-color: whiteSmoke;
}

.popover.right > .arrow:after {
  border-right-color:whiteSmoke;
}

.popover.bottom > .arrow:after {
 border-bottom-color:whiteSmoke;
}

.noline {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

.s-hide {
  display:none;
}

.alert .float-left {
  margin-right:10px;
}

#gumroad_link_dabbleme {
  height: 575px !important;
}

.form-control {
  height: 45px;
  border-radius: 4px;
  font-size: 16px;
  border: 2px solid $light-gray;
  box-shadow: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    border-color: #999999;
    box-shadow: none;
  }
  &:focus {
    border-color: $olive;
    box-shadow: none;
  }
}
input[type="submit"].form-control {
  border: 0px;
}

.btn-lg, .btn-group-lg>.btn {
  border-radius: 4px;
}

.input-group-addon {
  border-width: 2px;
}

.alert-warning.force-links a {
  color: #66512c !important;
  text-decoration: underline !important;
}

.alert-info.force-links a {
  color: #245269 !important;
  text-decoration: underline !important;
}

.flex-end {
  @media screen and (min-width: 992px) {
    align-items: flex-end;
    display: flex;
  }
}

.ml-questions {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
  li {
    margin-bottom: 5px;
    &:nth-child(odd) {
      @media screen and (min-width: 992px) {
        text-align: right;
      }
    }
  }
}

strong {
  font-weight: bold !important;
}

#entry-count {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

#entry-count.animate {
  transform: scale(1.2);
  opacity: 0.8;
}

.twitter-tweet-rendered {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.s-review-details a, .s-scrollable a { 
  text-decoration: underline;
  &.noline {
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }  
}

.email-post-card {
  background-color: white;
  border: 1px solid rgba(224, 224, 224, 0.6);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  .email-post-flex {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .email-post-content {
    flex-grow: 1;
    @media screen and (max-width: 767px) {
      margin-left: 0;
      width: 100%;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: $olive-800;
  }

  .email-address-box {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    
    code {
      flex-grow: 1;
      padding: 12px 15px;
      background: transparent;
      border: none;
      color: $olive;
      font-family: monospace;
      font-size: 14px;
      @media screen and (max-width: 767px) {
        width: 100%;
        border-bottom: 1px solid #e5e7eb;
        overflow-x: auto;
      }
    }

    .j-copy-to-clipboard {
      background: $olive;
      color: white;
      border: none;
      padding: 12px 20px;
      font-size: 13px;
      font-weight: 600;
      transition: background 0.2s;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
      &:hover {
        background: darken($olive, 10%);
      }
    }
  }

  .email-post-footer {
    margin-top: 15px;
    font-size: 13px;
    margin-bottom: 0px;
    color: #6b7280;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      justify-content: center;
    }
    i {
      margin-right: 8px;
      color: $olive;
    }
  }
}

.dark {
  .email-post-card {
    background-color: #1a1c15;
    border-color: rgba(255,255,255,0.1);
    .email-address-box {
      background: #26291e;
      border-color: #3f4235;
    }
  }
}
