/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= stub twbs-variables
 *= require twbs
 *= require summernote
 *= require_self 
 *= require_tree ./lib 
 *= require_tree .
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,200);

body { 
  background: #fcfbf9;
  padding-top: 70px; 
  font-family: "Raleway", sans-serif; 
  font-weight: 400;
}

hr {
  border-top: 2px solid whiteSmoke;
}

.s-landing-page {
  h1 {
    img {
      width:290px;
    }
  }
  h2 {
    color:#a41100;
  }
}

.navbar-default {
  background-color: #649cc7;
  color:whiteSmoke;
  z-index: 1000;
  .navbar-nav > li > a {
    color:whiteSmoke;
    letter-spacing: 0.5px;
    &:hover {
      color:white;
      border-top: 2px solid white;
      margin-bottom: -2px;
    }
  }
  .navbar-nav > .active >a {
    color: whiteSmoke;
    background-color: darken(#649cc7,10);
    &:hover {
      color: white;
      background-color: darken(#649cc7,20);
      text-shadow: 0px 0px 3px darken(#649cc7,40);
    }
  }
  .navbar-brand {
    font-weight: bold !important;
    -webkit-font-smoothing:antialiased;
    letter-spacing: -1px;
    color:whiteSmoke;
    font-size: 20px;
    text-shadow: 0px 0px 1px darken(#649cc7,20);
    display: inline-block;
    &:hover {
      color:white;
      border-top: 2px solid white;
      margin-bottom: -2px;
    }
    span {
      font-weight: 700;
      letter-spacing: 0.5px;
      font-size: 24px;
    }
  }
}

.well {
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(224, 224, 224, 0.6);
  >.blur {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    pointer-events: none;
  }
  >.really-blur {
    -webkit-filter: blur(15px);
    filter: blur(15px);
    pointer-events: none;
  }  
}

#error_explanation h2 {
  font-size: 18px;
  margin: 10px;
}

.center {
  text-align:center;
  margin:0 auto;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main-container {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:0px;
  p {
    font-size: 0.9em;
  }
  @media screen and (max-width: 767px) {
    text-align:center;
    p {
      float:none !important;
      width:100%;
      text-align:center;
    }
  }
} 

.s-inspiration {
  font-style: italic;
  color:#AAA;
  margin-top:15px;
  margin-bottom:25px;
  margin-left: 20px;
  margin-right: 20px;  
}

.muted {
  color:#777;
  a {
    color:#777;
    &:hover {
      color:#333;
      text-decoration: none;
    }
  }
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}

.s-back-to-top {
  position:fixed;
  right:25px;
  bottom:15px;
  display:none;
  a {
    color:#CCC;
    text-decoration: none;
    &:hover {
      color:#777;
      text-decoration: none;
    }
  }
}

.s-date-left {
  float:left;
  .fa.fa-calendar {
    color:#CCC;
    &:hover{
      color:#999;
    }
  }
}

.s-date-right {
  float:right;
}

.s-date-year {
  padding-bottom:15px;
}

.s-date-groups {
  float:right;
  .active {
    font-weight: bold;
    color:#3b76a3;
  }
  @media (max-width: 991px) {
    display: none;
    float: none;
    margin:0 auto;
    text-align:center;
  }
}

.s-toggle-calendar {
  display: none;
  float:right;
  i {
    font-size:80%;
    margin-top:5px;
  }
  @media (max-width: 991px) {
    display: inline-block;
  }
}

.s-day-email label {
  font-weight: normal;
}

p {
  font-size: 15px;
  color:#444;
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
  .navbar-fixed-top
  {
    position: absolute;
    top:0;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:whiteSmoke;
}

.modal-body img {
  width:100%;
}

.bf-image-head {
  display:none;
}

.flash.alert:empty {
  display: none;
}

label {
  color: #444;
}

.s-scrollable {
  overflow-x:auto;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;  
  font-size: 18.5px;
  font-style: normal;  
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: rgba(0,0,0,0.8);
  p {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18.5px;
    line-height: 1.58;
    letter-spacing: -.003em;
    @media screen and (max-width: 767px) {
      font-size: 17px;
      font-weight: 400;
    }    
  }
  @media screen and (max-width: 767px) {
    font-size:16px;
    font-weight:400;
  }  
}

.popover-title {
  background-color:whiteSmoke;
  padding:10px 14px 0px 14px;
  color:#777;
  border:0px;
}

.popover, .popover-content {
  background-color: whiteSmoke;
}

.popover.right > .arrow:after {
  border-right-color:whiteSmoke;
}

.popover.bottom > .arrow:after {
 border-bottom-color:whiteSmoke; 
}

.s-landing-page {
  h2 {
    font-size:20px;
  }
}

.s-features {
  font-size:16px;
  i {
    color:#CCC;
  }
  ul {
    padding-left: 0px;
    @media screen and (max-width: 767px) {
      -webkit-padding-start: 0px;
      padding: 0px;
    }
    list-style: none;
    li {
      margin:10px auto;
    }
  }
  &.top40 {
    margin-top: 40px;
    ul {
      padding-left: 40px;
    }
  }
  .s-more-info {
    margin-bottom:70px;
  }
}

.noline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.s-hide {
  display:none;
}

.alert .float-left {
  margin-right:10px;
}

#gumroad_link_dabbleme {
  height: 575px !important;
}

.form-control {
  height: 45px;
  border-radius: 4px;
  font-size: 16px;
  border: 2px solid #CCCCCC;
  box-shadow: none;
  outline: none;
  &:hover {
    border-color: #999999;
    box-shadow: none;
  }
  &:focus {
    border-color: #649cc7;
    box-shadow: none;
  }
}
input[type="submit"].form-control {
  border: 0px;
}

.btn-lg, .btn-group-lg>.btn {
  border-radius: 4px;
}

.navbar-toggle {
  margin-top: 6px;
  border: 3px solid transparent;
  padding: 8px 5px;
  border-radius: 6px;
}

.s-write-icon {
  float: right;
  margin-right: 10px;
  font-size: 17px;
  margin-top: 4px;
  color: white;
  .fa-square {
    color: transparent;
  }
  .fa-square-o {
    color: #dddddd;
  }
  &:hover {
    .fa-square {
      color: #dddddd;   
    }
  }
}
