/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= stub twbs-variables
 *= require twbs
 *= require summernote
 *= require_self 
 *= require_tree ./lib 
 *= require_tree .
 */

body { 
  background: #fcfbf9;
  padding-top: 70px; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 500;
}

hr {
  border-top: 2px solid whiteSmoke;
}

.s-landing-page {
  h1 {
    img {
      width:290px;
    }
  }
  h2 {
    color:#a41100;
  }
}

.navbar-default {
  background-color: #649cc7;
  color:whiteSmoke;
  z-index: 1000;
  .navbar-nav > li > a {
    color:whiteSmoke;
    letter-spacing: 0.5px;
    &:hover {
      color:white;
      text-shadow: 0px 0px 2px darken(#649cc7,40);
    }
  }
  .navbar-nav > .active >a {
    color: whiteSmoke;
    background-color: darken(#649cc7,10);
    &:hover {
      color: white;
      background-color: darken(#649cc7,20);
      text-shadow: 0px 0px 3px darken(#649cc7,40);
    }
  }
  .navbar-brand {
    font-weight: bold !important;
    -webkit-font-smoothing:antialiased;
    letter-spacing: -1px;
    color:whiteSmoke;
    font-size:20px;
    text-shadow: 0px 0px 1px darken(#649cc7,20);
    img {
      width:130px;
    } 
    &:hover {
      color:white;
      text-shadow: 0px 0px 2px darken(#649cc7,40);
    }
  }  
}

.well {
  background-color: white;
  border-radius:10px;
  border: 2px solid #f7f7f7;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#error_explanation h2 {
  font-size: 18px;
  margin: 10px;
}

.center {
  text-align:center;
  margin:0 auto;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main-container {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:0px;
  @media screen and (max-width: 767px) {
    text-align:center;
    p {
      float:none !important;
      width:100%;
      text-align:center;
    }
  }  
} 

.s-inspiration {
  font-style: italic;
  color:#AAA;
  margin-top:15px;
  margin-bottom:25px;
  margin-left: 20px;
  margin-right: 20px;  
}

.muted {
  color:#777;
  a {
    color:#777;
    &:hover {
      color:#333;
      text-decoration: none;
    }
  }
}

.float-right {
  float:right;
}

.float-left {
  float:left;
}

.s-back-to-top {
  position:fixed;
  right:25px;
  bottom:15px;
  display:none;
  a {
    color:#CCC;
    text-decoration: none;
    &:hover {
      color:#777;
      text-decoration: none;
    }
  }
}

.s-date-left {
  float:left;
  .fa.fa-calendar {
    color:#CCC;
    &:hover{
      color:#999;
    }
  }
}

.s-date-right {
  float:right;
}

.s-date-year {
  padding-bottom:15px;
}

.s-date-groups {
  float:right;
  .active {
    font-weight: bold;
    color:#3b76a3;
  }
  @media (max-width: 991px) {
    display: none;
    float: none;
    margin:0 auto;
    text-align:center;
  }
}

.s-toggle-calendar {
  display: none;
  float:right;
  i {
    font-size:80%;
    margin-top:5px;
  }
  @media (max-width: 991px) {
    display: inline-block;
  }
}

.s-day-email label {
  font-weight: normal;
}

p {
  font-size: 15px;
  color:#444;
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
  .navbar-fixed-top
  {
    position: absolute;
    top:0;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:whiteSmoke;
}

.modal-body img {
  width:100%;
}

.bf-image-head {
  display:none;
}

.flash.alert:empty {
  display: none;
}

label {
  color: #444;
}

.s-scrollable {
  overflow-x:auto;
  font-size: 18px;
  color: #333333;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  p {
    font-size: 18px;
    color: #333333;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;  
    @media screen and (max-width: 767px) {
      font-size:16px;
      font-weight:400;
    }    
  }
  @media screen and (max-width: 767px) {
    font-size:16px;
    font-weight:400;
  }  
}

.popover-title {
  background-color:whiteSmoke;
  padding:10px 14px 0px 14px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, serif;
  color:#777;
  border:0px;
}

.popover, .popover-content {
  background-color: whiteSmoke;
}

.popover.right > .arrow:after {
  border-right-color:whiteSmoke;
}

.popover.bottom > .arrow:after {
 border-bottom-color:whiteSmoke; 
}

.s-landing-page {
  h2 {
    font-size:20px;
  }
}

.s-features {
  &.top40 {
    margin-top:40px;
  }
  font-size:17px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, serif;  
  i {
    color:#CCC;
  }
  ul {
    @media screen and (max-width: 767px) {
      -webkit-padding-start: 0px;
    }
    list-style: none;
    li {
      margin:10px auto;
    }
  }
  .s-more-info {
    margin-bottom:70px;
  }
}

.noline {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.s-hide {
  display:none;
}

.alert .float-left {
  margin-right:10px;
}

#gumroad_link_dabbleme {
  height: 575px !important;
}