// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.s-show-url img {
  max-width:450px;
  max-height:450px;
}

.s-edit-entry {
  color:#CCC;
  font-size:20px;
  &:hover{
    cursor:pointer;
    color:#777;
  }
  a {
    font-size:20px;
    color:#CCC;
    &:hover{
      color:#777;
    }    
  }
}

a.s-delete {
  color:#a41100;
  opacity:0.5;
  &:hover{
    color:#a41100;
    opacity:1.0;
  }
}

.s-show-date {
  margin-top:30px;
}

.note-editable {
  background:white;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, serif;
  font-size:17px;
  color:#333;
  p {
    font-size:17px;
    color:#333;    
  }
}

#entry_date{
  font-family: georgia;
  font-size:15px;
  color: #a41100;
}

.s-entry-date {
  margin-top:10px;
  padding-bottom: 5px;
  > h2{
    font-family: georgia;
    color: #a41100;
    font-size: 25px;
    border: none;
    padding: 0 0 9px 0;
    text-align: center;
    margin: 0;
    margin-left:20px;
    margin-right:20px;
  }
  > h3 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size:20px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, serif;
    padding: 0 10px;
    background: url(image_path("bg_h3.gif")) repeat-x 0 11px;
    color: #999;
    text-align: center;
    span {
      padding: 0 15px;
      background-color: #fff;
    }    
  }
  &.s-new-entry {
    .s-edit-entry {
      margin-top:-6px;
    }
    > h3 {
      color: #333;
    }
  }
}

label {
  color: #444;
}

.s-scrollable {
  overflow-x:scroll;
  p {
    font-size: 18px;
    color: #333333;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;  
  }
}

.popover-title {
  background-color:whiteSmoke;
  padding:10px 14px 0px 14px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, serif;
  color:#777;
  border:0px;
}

.popover, .popover-content {
  background-color: whiteSmoke;
}

.popover.right > .arrow:after {
  border-right-color:whiteSmoke;
}