.s-inspiration-admin {
  margin-top: 5px;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  &.s-highlight {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    padding: 5px 0;
  }
}