@import 'vars';

.navbar-default {
  background-color: $olive;
  color:whiteSmoke;
  z-index: 1000;
  top: 0px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  &.nav-up {
    top: -51px;
  }  
  li.dropdown.open > .dropdown-toggle {
    color: white;
    padding-top: 17px;
    padding-bottom: 13px;
    background-color: darken($olive,20);
    text-shadow: 0px 0px 3px darken($olive,40);
  }  
  .navbar-nav > li > a {
    color:whiteSmoke;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:hover, &:active, &:focus {
      color:white;
      padding-top: 17px;
      padding-bottom: 13px;
      background-color: darken($olive,20);
      text-shadow: 0px 0px 3px darken($olive,40);
    }
  }
  .navbar-nav > .active >a {
    color: whiteSmoke;
    background-color: darken($olive,10);
    &:hover, &:active, &:focus {
      color: white;
      background-color: darken($olive,20);
      text-shadow: 0px 0px 3px darken($olive,40);
    }
  }
  .navbar-brand {
    font-weight: 400 !important;
    -webkit-font-smoothing:antialiased;
    letter-spacing: -1px;
    color:whiteSmoke;
    font-family: "Instrument Serif", Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    text-shadow: 0px 0px 1px darken($olive,20);
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; 
    &:hover, &:active, &:focus {
      color: white;
      padding-top: 17px;
      padding-bottom: 13px;
      background-color: darken($olive,20);
      text-shadow: 0px 0px 3px darken($olive,40);
    }
    span {
      font-weight: 400;
      letter-spacing: 0;
      font-size: 26px;
    }
  }
}

.s-write-icon {
  float: right;
  font-size: 15px;
  color: whiteSmoke;
  padding: 15px 15px;
  text-decoration: none !important;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &.active {
    background-color: darken($olive,10);
  }
  &:hover, &:active, &:focus {
    color:white;
    padding-top: 17px;
    padding-bottom: 13px;
    background-color: darken($olive,20);
    text-shadow: 0px 0px 3px darken($olive,40);
  }
}

.navbar-toggle {
  border-color: transparent !important;
  background: transparent !important;
  height: 50px;
  padding: 15px;
  margin: 0px;
  border-radius: 0px;  
  &:hover, &.active {
    color:white;
    background-color: darken($olive,20) !important;
  }  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: whiteSmoke;
  &:active {
    background-color: white;
  }
}

.navbar-collapse {
  border-top: none;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggle .icon-bar {
  position: relative;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }

  .navbar-fixed-top {
    position: absolute;
    top:0;
  }  

  .navbar-default {
    .navbar-nav > li > a {
      &:hover, &:active, &:focus {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }  
  }

}
