@import 'vars';

.s-landing-page {
  h1 {
    img {
      width:290px;
    }
  }
  h2 {
    color: $red;
    font-size:20px;
  }
}

.s-features {
  font-size:16px;
  i {
    color:$light-gray;
  }
  ul {
    padding-left: 0px;
    list-style: none;
    li {
      margin:10px auto;
      .s-good {
        color: $blue;
        margin-right: 5px;
      }
      .s-bad {
        color: $red;
        margin-right: 5px;
      }
    }
    @media screen and (max-width: 767px) {
      padding-left: 0px;
    }    
  }
  &.top40 {
    margin-top: 40px;
    @media screen and (max-width: 767px) {
      margin-top: 0px;
    }    
    ul {
      padding-left: 40px;
      @media screen and (max-width: 767px) {
        padding-left: 0px;
      }
    }
  }
  &.top20 {
    margin-top: 20px;
    @media screen and (max-width: 767px) {
      margin-top: 0px;
    }    
    ul {
      padding-left: 20px;
      @media screen and (max-width: 767px) {
        padding-left: 0px;
      }
    }
  }  
  .s-more-info {
    margin-bottom:70px;
  }
}

$facebook: #5D77B4;
$twitter: #61AEE8;

.btn-facebook, .btn-twitter {
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  display: block;
}

.btn-facebook {
  background-color: $facebook;
  &:hover {
    background-color: darken($facebook, 10);
  }
}

.btn-twitter {
  background-color: $twitter;
  &:hover {
    background-color: darken($twitter, 10);
  }
}

.email-window {
  border-radius: 3px;
  width: 100%;
  margin: 20px auto;
  background: linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 65px, #EDEDED, #EDEDED 55px);
  background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 65px, #EDEDED, #EDEDED 55px);
  background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 65px, #EDEDED, #EDEDED 55px);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 3px 20px 4px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  z-index: 0;
  visibility: visible;
  opacity: 1;
  position: relative;
  .message-window {
    position: relative;
    border-top: 1px solid #6A6A6A;
    background-color: white;
    
    .message-header {
      font-size: 12px;
      line-height: 18px;
      height: 70px;
      margin: 20px;
      margin-bottom: 0;
      padding-bottom: 15px;
      border-bottom: 1px solid #BFBFBF;
      position: relative;
      
      a {
        color: #618AFB;
        text-decoration: none;
      }
      
      .light-text {
        color: #7F7F7F;
      }
      
      .info {
        width: auto;
        position: absolute;
        left: 0px;
        top: 0px;
      }
      
      .date {
        width: 150px;
        position: absolute;
        right: 0px;
        top: 0px;
        text-align: right;
      }
    }
    
    .message-content {
      font-size: 13px;
      
      h1, h2, h3, h4, h5 {
        margin-top: 0;
      }
      
      &.plain-text {
        padding: 20px;
      }
      
    }
  }
  .container-inside {
    position: relative;
    padding: 20px 30px;
  }

  .mail-controls-mail {
    position: absolute;
    top: 24px;
    left: 7px;
    
    ul {
      background-image: linear-gradient(#F5F5F5, #BEBEBE);
      border-radius: 5px;
      border: 1px solid #707070;
      text-shadow: 0 1px 1px #e7e7e7;
      list-style: none;
      margin: 0 10px 0 0;
      padding: 2px;
      float: left;
      display: inline;
      
      li {
        text-shadow: 0 1px 1px #e7e7e7;
        color: #6a6a6a;
        font-size: 15px;
        margin: 0;
        padding: 0px 10px;
        border-left: 1px solid #A4A4A4;
        display: inline;
        text-align: center;
        
        &:first-child {
          border: none;
        }
      }
    }
  }

  h1.titlebar-mail {
    position:relative;
    z-index: 2;
    color: #3c3c3c;
    font-size: 13px;
    height: 15px;
    padding-top: 4px;
    text-decoration: none;
    text-shadow: 0 2px 1px #e7e7e7;
    text-align: center;
  }

  nav.controls-mail {
    position: absolute;
    left: 5px;
    top: 3px;
    z-index: 10;
    height: 15px;
  }

  nav.controls-mail a {
    display: inline-block;
    margin: 2px 0px 3px 1px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    box-shadow: 0px 1px 0px rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
  }

  nav.controls-mail a:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }

  nav.controls-mail a:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 1px;
      bottom: 1px;
      right: 1px;
      border-radius: 100%;
      background: linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
      background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
      background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
      box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
  }
  nav.controls-mail a.close-mail {
      background: #FD4E4E;
  }
  nav.controls-mail a.minimize-mail {
      background: #F3BB55;
  }
  nav.controls-mail a.maximize-mail {
      background: #96D16F;
  }  
}
