@import 'vars';

.s-landing-page {
  h1 {
    img {
      width:290px;
    }
  }
  h2 {
    color: $red;
    font-size:20px;
  }
}

.s-features {
  font-size:16px;
  i {
    color:$light-gray;
  }
  ul {
    padding-left: 0px;
    list-style: none;
    li {
      margin:10px auto;
      .s-good {
        color: $blue;
        margin-right: 5px;
      }
      .s-bad {
        color: $red;
        margin-right: 5px;
      }
    }
    @media screen and (max-width: 767px) {
      padding-left: 0px;
    }    
  }
  &.top40 {
    margin-top: 40px;
    @media screen and (max-width: 767px) {
      margin-top: 0px;
    }    
    ul {
      padding-left: 40px;
      @media screen and (max-width: 767px) {
        padding-left: 0px;
      }
    }
  }
  .s-more-info {
    margin-bottom:70px;
  }
}

$facebook: #5D77B4;
$twitter: #61AEE8;

.btn-facebook, .btn-twitter {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  margin-top: 15px;
  display: block;
}

.btn-facebook {
  background-color: $facebook;
  &:hover {
    background-color: darken($facebook, 10);
  }
}

.btn-twitter {
  background-color: $twitter;
  &:hover {
    background-color: darken($twitter, 10);
  }
}